doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/login.css')
  body
    div(class="nav")
      h1 PacificPotion
      input(type="text" name="searchbar" placeholder="Search for a potion..." id="searchbar")
      div 
        button Sign Up
        button Log In

    block content
