extends layout.pug

block content
    link(rel='stylesheet' href='/stylesheets/login.css')
    form(action='/login' method='post')
        h1= title
        input(type='hidden' name='_csrf' value=csrfToken)

        div
            label(for='username') Username
            input(name='username' type='text' id='username' required) 
        div
            label(for='password') Password 
            input(name='password' type='password' id='password' required)
        div(class="buttons")
            button Sign In
            button(href='/demo_user') Demo User