extends layout.pug
include utils.pug
block content
    link(rel='stylesheet' href='/stylesheets/login.css')
    +validationErrorSummary(errors)
    div(id="formDiv")
        form(action='/login' method='post')
            h1= title
            input(type='hidden' name='_csrf' value=csrfToken)
            div
                label(for='username') Username
                input(name='username' type='text' placeholder="Name..." id='username' required)
            div
                label(for='password') Password
                input(name='password' type='password' id='password' required)
            div(class="buttons")
                button Log In
                button(href='/demo_user') Demo User
