extends layout.pug

block content
    form(action="/signup" method="post" class="new-user")
        input(type="hidden" value=csrfToken name="_csrf")
        div
            label(for="username") Username
            input(type="text" name="username" required)
        div
            label(for="email") Email Address
            input(type="text" name="email" required)
        div
            label(for="password") Password
            input(type="password" name="password" required)
        div
            label(for="confirm-pw") Confirm Password
            input(type="password" name="confirm-pw" required)
        div
            button Create User
            button Reset
