extends layout.pug

block content
    link(rel='stylesheet' href='/stylesheets/login.css')
    div(id="formDiv")
        form(action="/signup" method="post" class="new-user")
            h1= title
            input(type="hidden" value="/.+/" name="_csrf")
            div
                label(for="username") Username
                input(type="text" name="username" required)
            div
                label(for="email") Email Address
                input(type="text" name="email" required)
            div
                label(for="password") Password
                input(type="password" name="password" required)
            div
                label(for="confirm-pw") Confirm Password
                input(type="password" name="confirm-pw" required)
            div(class="buttons")
                button Create User
                button Reset
                button Demo User