body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  
a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #102863;
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  margin: 0px;
}

#formDiv {
  position: absolute;
  width: 550px;
  top: 100px;
  left: 25%;
  background-color: #C8D7E4;
  border-radius: 5px;
}

form {
  position: relative;
  width: 450px;
  left: 30px;
  /* top: 20%;
  left: 25%; */
  /* background-color: #C8D7E4 */
}

form div {
  margin-top: 20px;
  display: flex;
  justify-content: right;
}

form div input {
  margin-left: 10px;
  width: 300px;
  border-radius: 5px;
}

.buttons {
  position: relative;
  margin-bottom: 25px;
}

button {
  background-color: #F5C25D;
  /* background-color: #8C5E1D; */
  /* font-weight: 600; */
}

html {
  height: 100%;
  width: 100%;
  background-color: #EDEFF5
}


/* 

Main background color: #EDEFF5
Box/div color: #C8D7E4
Title text: #102863
Links: #8C5E1D
Unknown: #F5C25D 

*/