/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}
*/

.nav > h1 {
  position: absolute;
  left: 8px;
  top: 8px;
}

p {
  margin: 0px;
}

.nav {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  top: 0px;
  align-items: center;
  background-color:  #C8D7E4;
}

#searchbar {
  flex: center;
  width: 25%;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  margin-left: 10px;
}