extends layout.pug

block content
    link(rel='stylesheet' href='/stylesheets/about.css')
    div(class='container' id='top')
        div(class='developers')
            div(class='links')
                h3 Chloe Baylock
                a(href="https://www.linkedin.com/in/chloe-baylock-a4834118b/" target="_blank" id='li')
                    img(src='../images/linked-in-icon.svg' href="#" class='linked-in')
                a(href="https://github.com/Chloe-Baylock" target="_blank" id='gh')
                    img(src='../images/github-icon.svg' class='github')
            h4 Contributions to the Project
            ul
                li Styled the log in and sign up pages
                li Set up the database for Comments
                li Wrote the backend fetch request and route for the comments
                li Assisted in bug fixes and cleaning up code
        div(class='developers')
            div(class='links')
                h3 Seth Holland
                a(href="https://www.linkedin.com/in/seth-holland/" target="_blank" id='li')
                    img(src='../images/linked-in-icon.svg' href="#" class='linked-in')
                a(href="https://github.com/LaterBlackBird" target="_blank" id='gh')
                    img(src='../images/github-icon.svg' class='github')
            h4 Contributions to the Project
            ul
                li Wrote the front end and back end of the search page and functionality
                li Assisted in the routes for multiple pages
                li Styled the basic PUG for the Potion Detail page
                li Worked with DOM manipultion for the Comments
    div(class='container')
        div(class='developers')
            div(class='links')
                h3 Asia Le
                a(href="https://www.linkedin.com/in/asia-le-073860103/" target="_blank" id='li')
                    img(src='../images/linked-in-icon.svg' href="#" class='linked-in')
                a(href="https://github.com/le-as-a" target="_blank" id='gh')
                    img(src='../images/github-icon.svg' class='github')
            h4 Contributions to the Project
            ul
                li Assisted in CSS styling across all pages
                li Set up the databases for Users and Potion Types
                li Wrote the route for the potion detail page
                li Assisted in DOM manipultion for the Comments
        div(class='developers')
            div(class='links')
                h3 Dominique Sam
                a(href="https://www.linkedin.com/in/dominique-sam-b33233197/" target="_blank" id='li')
                    img(src='../images/linked-in-icon.svg' href="#" class='linked-in')
                a(href="https://github.com/Dominisam98" target="_blank" id='gh')
                    img(src='../images/github-icon.svg' class='github')
            h4 Contributions to the Project
            ul
                li Styled the initial home page PUG and CSS
                li Set up the database for Potions
                li Wrote the edit and delete routes for the comments
                li Wrote the seeder files for users and potions
