
mixin Comments
    link(rel="stylesheet" href="/stylesheets/comments.css")
    script(src="/javascripts/potionsRequirement.js" type = "module")
    script(src="../auth.js" type="module")
    if locals.authenticated
        textarea#commentInput(placeholder="Write a comment here...")
        button(class="commentSubmit" id=potion.id) Add Comment

    h2#commentHeader Comments:
    if potion.Comments
        each comment in potion.Comments
            div.commentItems
                p(class='user') #{comment.User.username} says:
                p #{comment.comment}
                if locals.user && locals.user.id == comment.user_id
                    div.commentOpts
                        button(class='edit') Edit
                        button(class='del') Delete
