mixin Comments
    link(rel="stylesheet" href="/stylesheets/comments.css")
    script(src="/javascripts/potionsRequirement.js" type = "module")
    textarea#commentInput(placeholder="Write a comment here...")
    button#commentSubmit Add Comment

    h2#commentHeader Comments:
    if potion.Comments
        each comment in potion.Comments
            div.commentItems
                p #{comment.comment}
