mixin Footer
    link(rel="stylesheet" href="/stylesheets/footer.css")

    div#footer
        p Chloe Baylock |
            a(href="#") LinkedIn |
            a(href="https://github.com/Chloe-Baylock") Github
        p Seth Holland |
            a(href="#") LinkedIn |
            a(href="https://github.com/LaterBlackBird") Github
        p Asia Le |
            a(href="#") LinkedIn |
            a(href="https://github.com/le-as-a") Github
        p Dominique Sam |
            a(href="#") LinkedIn |
            a(href="https://github.com/Dominisam98") Github
