mixin Footer
    link(rel="stylesheet" href="/stylesheets/footer.css")

    //- div#footer
        h4 Developers:
        p Chloe Baylock
            a(href="#" target="_blank")
                img(src='../images/linked-in-icon.svg' href="#" class='linked-in')
            a(href="https://github.com/Chloe-Baylock" target="_blank")
                img(src='../images/github-icon.svg' class='github')
        p Seth Holland
            a(href="#" target="_blank")
                img(src='../images/linked-in-icon.svg' href="#" class='linked-in')
            a(href="https://github.com/LaterBlackBird" target="_blank")
                img(src='../images/github-icon.svg' class='github')
        p Asia Le
            a(href="#" target="_blank")
                img(src='../images/linked-in-icon.svg' href="#" class='linked-in')
            a(href="https://github.com/le-as-a" target="_blank")
                img(src='../images/github-icon.svg' class='github')
        p Dominique Sam
            a(href="#" target="_blank")
                img(src='../images/linked-in-icon.svg' href="#" class='linked-in')
            a(href="https://github.com/Dominisam98" target="_blank")
                img(src='../images/github-icon.svg' class='github')
