doctype html
html
    head
        title="Pacific Potion"
        link(rel="stylesheet" href="/stylesheets/home.css")
        //- script(src="/javascripts/home.js")

    body
        div(id='header')
        div(id='user-status')
            if locals.authenticated
                span Welcome, #{user.username} !
                br
                form(action="/logout" method="post")
                    button(type="submit") Logout
                br
                a(href="/inventory") Go to Inventory
            else
                a(href='/signup') Create an account
                br
                a(href='/login') Log in
                br
                form#demo-button(action="/demo" method="post")
                    button(type="submit") Demo

        div(id='searchbar')
            input(type="text" autocomplete="off" placeholder="Search for a potion...")
            button(type="submit")
        div(id="potion-types")
            a(href="#") Type
            a(href="#") Type
            a(href="#") Type
            a(href="#") Type
            a(href="#") Type
            a(href="#") Type
        div(id='recent')
            h2 Recently Created Potions
