extends layout.pug
include utils.pug
block content
    link(rel='stylesheet' href='/stylesheets/login.css')
    link(rel='stylesheet' href='/stylesheets/error.css')
    div(id="formDiv")
        form(action='/login' method='post')
            h1= title
            input(type='hidden' name='_csrf' value=csrfToken)
            div
                label(for='username') Username
                input(name='username' type='text' placeholder="Name..." id='username')
            div
                label(for='password') Password
                input(name='password' type='password' id='password')
            div(class="buttons")
                button(type="submit") Log In
    form(action="/demo", method="post")
        button(type="submit") Demo User
    +validationErrorSummary(errors)
