extends layout.pug

    block content
        div(id="frmDiv")
            form(action="/potions/new-potion" method="post")
            h1= title
            input(type="hidden" value=csrfToken name="_csrf")
            div
                label(for="name") Potion Name
                input(type="text" placeholder="Potion Name..." name="name" required)
            div
                label(for="description") Description
                textarea(id="description" name="description")
            div
                select(id="type_id" name="type_id" required)
                  if potionTypes
                    each typ in potionTypes
                        option(value=typ.id)= typ.typ
            button submit
