extends layout.pug
    block content
        h3= potion.name
        div(class='py-4')
            p Proceed with deleting this potion?
        div(id="frmDiv")
            form(action=`/potion/delete/${potion.id}` method="post")
                input(type='hidden' name='_csrf' value=csrfToken)
                button(class='btn btn-danger' type='submit') Delete Park
                a(class='btn btn-warning ml-2' href=`/park/${park.id}` role='button') Cancel
