extends layout.pug
include utils.pug
block content
    link(rel='stylesheet' href='/stylesheets/login.css')
    link(rel='stylesheet' href='/stylesheets/error.css')
    div(id="formDiv")
        form(action="/signup" method="post" class="new-user")
            h1= title
            input(type="hidden" value=csrfToken name="_csrf")
            div
                label(for="username") Username
                input(type="text" placeholder="Name..." name="username" required)
            div
                label(for="email") Email Address
                input(type="text" placeholder="you@yours.com" name="email" required)
            div
                label(for="password") Password
                input(type="password" name="password" required)
            div
                label(for="confirm-pw") Confirm Password
                input(type="password" name="confirm-pw" required)
            div(class="buttons")
                button(type="submit") Sign Up
                button(id="resetButton") Reset
                button(href='/demo_user') Demo User
    //- display errors if any
    +validationErrorSummary(errors)
