#commentContainer {
    margin: auto;
    position: relative;
    width: 900px;
    background-color: #c8d7e4;
    border-radius: 5px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

#commentContainer h2 {
    padding-left: 50px;
}

#commentInput {
    display: flex;
    margin: auto;
    width: 600px;
    height: 150px;
    margin-top: 50px;
    padding: 5px 10px;
    background-color: #EDEFF5;
    border-radius: 5px;
}

#commentSubmit {
    display: flex;
    margin: auto;
    margin-top: 25px;
}

.commentItems {
    background-color: #102863;
    padding: 25px 100px;
    margin: 15px 50px;
    border-radius: 15px;
    color: #F5C25D;
    border: 1px solid #EDEFF5;
}
