body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #edeff5;
}

button {
  background-color: #f5c25d;
  border-radius: 5px;
}

#header {
  background-image: url('../images/new-homebanner.png');
  height: 300px;
  border-bottom: 2px solid rgb(255, 255, 255);
}

#user-status {
  width: 200px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  position: relative;
  left: 75%;
  top: -75px;
  background-color: #c8d7e4;
  text-align: center;
  padding: 15px 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#searchbar {
  position: relative;
  left: 75%;
  width: 15%;
  top: -50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchbar input {
  padding: 3px;
}

#searchbar #search-button {
  background: url(icn_nav_search.svg) no-repeat center;
  background-color: #f5c25d;
  height: 25px;
  width: 25px;
  position: relative;
  top: 5px;
}

#searchbar #show-all-button{
  background: inherit;
  border: none;
  width: fit-content;
  height: 25px;
  position: relative;
  cursor: pointer;
}

#potion-types {
  position: relative;
  width: 200px;
  display: flex;
  left: 75%;
  top: -35px;
  text-align: center;
}

#potion-types button{
  margin: 5px;
}

#recent {
  position: relative;
  top: -150px;
  left: 5%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  height: auto;
  width: 60%;
  padding: 10px;
  background-color: #c8d7e4;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 1fr 4fr 4fr;
  justify-content: center;
}

#recent > h2 {
  padding-left: 10px;
  grid-column: 1 / span 5;
}

#recent > a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}



#potion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

#potion-image {
  width: 150px;
  height: auto;
}

a {
  color: #8C5E1D;
  text-decoration: none;
  font-weight: bold;
}
