#formDiv {
  position: relative;
  width: 700px;
  margin: auto;
  background-color: #C8D7E4;
  border-radius: 5px;
  margin-top: 125px;
  padding-bottom: 0%;
  padding: 20px;
}

#login-form {
  position: relative;
  width: 600px;
  left: 30px;
}

#formDiv h1 {
  padding-top: 20px;
}

form div {
  margin-top: 20px;
  display: flex;
  justify-content: right;
}

form div label {
  font-size: 30px;
}

form div input {
  margin-left: 10px;
  width: 300px;
  border-radius: 5px;
  font-size: 20px;
}

.buttons button {
  position: relative;
  margin-bottom: 25px;
  margin-left: 5px;
}

#sign-in{
  width: auto;
}
