html {
    height: 100%;
}

body {
    background-color: #EDEFF5;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.nav {
    height: 50px;
    background-color: #C8D7E4;
    position: absolute;
    width: 100%;
    top: 0px;
    border-bottom: 1px solid #102863;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

}

.nav > a {
    color: #102863;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    position: relative;
    /* top: 11px; */
    left: 10px;
    z-index: 1;
}

#search {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 700px;
}

#search input {
    box-sizing: border-box;
    width: 550px;
    height: 25px;
    margin: 0 5px;

}

#user-nav {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav > div {
    color: #102863;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
  background-color: #F5C25D;
  border-radius: 5px;
  padding: 3px 5px;
  color: #102863;
}

#user-nav button {
    margin-left: 5px;
}

#err {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    width: 40%;
}

a {
    color: #8C5E1D;
    text-decoration: none;
    font-weight: bold;
}
