/*
Main background color: #EDEFF5
Box/div color: #C8D7E4
Title text: #102863
Links: #8C5E1D
Unknown: #F5C25D
 */

#potion_detail_container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 900px;
  margin: auto;
  background-color: #c8d7e4;
  border-radius: 5px;
  margin-top: 125px;
}

#potion_detail_grid {
  display: grid;
  grid-template-areas:
    'a c'
    'a d'
    'a e'
    'b f';
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  row-gap: 10px;
  margin: 20px auto;
}

#inventoryAddButton {
  grid-area: b;
  padding: 3px;
  margin: 5px;
  display: flex;
  justify-content: center;
}

#imgDiv {
  grid-area: a;
  box-sizing: border-box;
  height: auto;
  width: auto;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#potionImage {
  box-sizing: border-box;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

#potionDescriptionContainer {
  box-sizing: border-box;
  height: 125px;
  width: 500px;
  overflow-y: auto;
  border: 1px solid black;
}

#potionName {
  color: #102863;
  margin-bottom: 0;
}

#createdBy {
  color: #102863;
  margin-top: 0px;
  font-size: small;
}

#descriptionText {
  color: #102863;
}

#potionEditButtonsContainer {
  display: flex;
  justify-content: space-evenly;
}

#potionEditButton {
  width: 100px;
  margin: 5px;
}

#potionDeleteButton {
  width: 100px;
  margin: 5px;
}
